OTA_MARKET=default
OTA_BROWSER_CHANNEL=chromium
OTA_USE_STEALTH=false

BOOKING_MARKET=default
BOOKING_PROXY_URL=

EXPEDIA_MARKET=default
EXPEDIA_PROXY_URL=

LOVEHOLIDAYS_MARKET=uk
LOVEHOLIDAYS_PROXY_URL=

ONTHEBEACH_MARKET=uk
ONTHEBEACH_PROXY_URL=

HOTELBEDS_API_KEY=
HOTELBEDS_SECRET=
HOTELBEDS_BASE_URL=https://api-mtls.test.hotelbeds.com
HOTELBEDS_CERT_PATH=
HOTELBEDS_KEY_PATH=
HOTELBEDS_CA_PATH=
HOTELBEDS_HOTEL_CODE_MIRAMARE_BEACH=
HOTELBEDS_HOTEL_CODE_MIRAMARE_QUEEN=
HOTELBEDS_LANGUAGE=ENG
HOTELBEDS_ADULTS=2
